
#database
*/database/*
# Maven
target

# Java
*.class
*.jar
*.war

# Eclipse
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
*.classpath
.settings
.loadpath
.externalToolBuilders
*/bin/*
# Idea
.idea
*.iml
