.btn-orange {
  background-color: #ef6b00;
  border-color: #ef6b00;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active {
  background-color: #d66000;
  border-color: #bc5400;
}
.btn-orange.disabled:hover,
.btn-orange.disabled:focus,
.btn-orange.disabled:active,
.btn-orange.disabled.active,
.btn-orange[disabled]:hover,
.btn-orange[disabled]:focus,
.btn-orange[disabled]:active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange:hover,
fieldset[disabled] .btn-orange:focus,
fieldset[disabled] .btn-orange:active,
fieldset[disabled] .btn-orange.active {
  background-color: #ef6b00;
  border-color: #ef6b00;
}

.errorUserMessage {
	color: red;
}

.has-error-label {
	color: red;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #ef6b00 !important;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #ef6b00 !important;
}


.game_card {
	border-width: 2px;
	border-color: #ef6b00;
	border-style: solid;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	height: 200px;
	
	/* тени */
	-webkit-box-shadow: 8px 8px 13px rgba(50, 50, 50, 0.57);
    -moz-box-shadow:    8px 8px 13px rgba(50, 50, 50, 0.57);
    box-shadow:         8px 8px 13px rgba(50, 50, 50, 0.57);
}

.game_title {
	
}

.game_button {
	position: absolute;
	bottom: 0;
	left: 12;
}

.col-lg-05 {
	width: 4,16666665%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}


.game_row {
	margin-bottom: 40px;
}